



// Animation Keyframes
//********************************************************//
@mixin rotate-forever {
  0%    { @include transform(rotate(0deg)); }
  100%  { @include transform(rotate(360deg)); }
}
@-webkit-keyframes rotate-forever { @include rotate-forever; }
@-moz-keyframes rotate-forever { @include rotate-forever; }
@keyframes rotate-forever { @include rotate-forever; }


// The Loading Spinner™
//********************************************************//
.loading-spinner {
  @include animation-duration($spinner-speed);
  @include animation-iteration-count(infinite);
  @include animation-name(rotate-forever);
  @include animation-timing-function(linear);
  @include size($spinner-size);
  border: $spinner-thickness solid $spinner-color;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

.loading-spinner {
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  left: 50%;
  @media (max-width: 768px) {
    left: 45%;
  }
}